
html,body {
margin:0;
padding:0;
background:#f6f6f6;
}



select,input,textarea {outline:none;}




.container {
width: 1170px;
}

.container {
margin-right: auto;
margin-left: auto;
}

.container {
width: 940px;
}

.row {
margin-left: -30px;
}
.row {
margin-left: -20px;
}


.span12 {
width: 940px;
color: #FFF;
}



h1 {
 font-size: 40px;
}

h1, h2 {
line-height: 1.4;
letter-spacing: 3px;
}

h1, h2, h3, h4, h5, h6 {
margin: 0px 0px 10px;
font-weight: normal;
line-height: 1.3;
color: inherit;
font-family:sans-serif;
}


.btn-right {
float:right;
margin-right:86px;
}

.btn {
display: inline-block;
padding: 12px 26px;
margin-bottom: 0px;
margin-left: 20px;
color:#838383;
font-family:arial;
font-size: 14px;
line-height: 20px;
border-width: 1px;
border-style: solid;
border-color:#838383;
border-radius: 4px;
}

a {
text-decoration: none;
transition: color 0.1s linear 0s, border 0.1s linear 0s, opacity 0.1s linear 0s, background-color 0.1s linear 0s;
}




.index_bg {
height: 382px;
background:url('../images/index_bg.html') repeat-x  top left;
}

.index_top {
width:1010px;
height: 300px;
background:url('../images/index_top.html');
}

.index_menu {
padding-left:150px;
}

.index_menu a {
display:block;
height:29px;
line-height:27px;
float:left;
font-family:arial;
font-size:16px;
color:#ffffff;
text-decoration:none;
padding-right:60px;
margin-right:60px;
background:url('../images/index_menu_a.html') top right no-repeat;
}

.index_menu a:hover {
text-decoration:underline;
}

.index_vklady {
height:55px;
text-align:center;
vertical-align:middle;
font-family:arial;
font-size:20px;
font-weight:bold;
color:#77AF1B;
}

.index_center {
height:100px;
}

.index_referalu {
height:85px;
text-align:center;
vertical-align:bottom;
font-family:arial;
font-size:20px;
font-weight:bold;
color:#339AD5;
}

.index_admin {
font-family:arial;
font-size:18px;
color:#FFBA00;
text-decoration:none;
}

.index_admin:hover {
text-decoration:underline;
}

.index_ca font {
font-family:arial;
font-size:18px;
color:#cccccc;
}

.index_stat {
background: #eff1f5;
border-top: solid 2px #cccccc;
}

.index_stat1 {
width: 1200px;
margin: 0 auto;
padding: 0;
}




.stat {
display: inline-block;
margin-left: 10px;
margin-right: 10px;
width: 350px;
padding: 20px 0;
}


.index_stat_left {
font-family:arial;
font-size:14px;
font-weight:bold;
color:#fff;
padding-left:10px;
padding-right:20px;
padding: 30px;
background: #464650;
margin-right: 50px;
}


.index_stat_plus {
font-family:arial;
font-size:14px;
font-weight:bold;
color:#fff;
padding-left:10px;
padding-right:10px;
padding: 30px;
background: #464650;
margin-right: 50px;
}


.index_stat_with {
font-family:arial;
font-size:14px;
font-weight:bold;
color:#fff;
padding-left:10px;
padding-right:10px;
padding: 30px;
background: #464650;
margin-right: 50px;
}

.index_stat_free {
font-family:arial;
font-size:14px;
font-weight:bold;
color:#fff;
padding-left:10px;
padding-right:10px;
padding: 30px;
background: #464650;
}



.osnova_online {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#fff;
padding-left:10px;
padding-right:20px;
}

.osnova_left {
vertical-align:top;
}

.osnova_table {
margin-top:20px;
padding-left:1px;
}

.osnova_title {
height:38px;
line-height:33px;
padding-left:58px;
font-family:arial;
font-size:19px;
color:#ffffff;
background: rgba(51, 51, 51, 0.51);
}

.osnova_title1 {
height:60px;
line-height:50px;
padding-left:58px;
font-family:arial;
font-size:26px;
color:#A5A5A;
background: #4B506C;
}


.osnova_vhod {
width: 300px;
text-align:center;
height:320px;
padding-top:16px;
background: #FFF;
border-radius:5px;
box-shadow: 0px 0px 10px 0 rgb(182, 182, 182);
}



.osnova_vhod1 {
margin-left: -8px;
padding-top: 25px;
width: 287px;
height: 256px;
float: right;
font-family:arial;
font-size: 14px;
color: #FFF;
text-align: left;
}

.osnova_vhod_input_login {
width:194px;
height:30px;
line-height:30px;
border:none;
padding-left:10px;
font-size:14px;
color:#5C5C5C;
border: 1px solid #aaa;
}

.osnova_vhod_input_password {
width:194px;
height:30px;
margin-top:10px;
margin-bottom:15px;
line-height:30px;
border:none;
padding-left:10px;
font-size:14px;
color:#5C5C5C;
border: 1px solid #aaa;
}

.osnova_vhod_registration {
font-size: 12px;
color:#3F3F3F;
font-weight: normal;
text-decoration: none;
text-align: right;
}

.osnova_registration {
font-size: 21px;
color: #fff;
font-weight: normal;
text-decoration: none;
text-align: center;
background:#494948;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
padding:11px 77px;
}

.osnova_vhod_registration:hover {
text-decoration:none;
}

.osnova_vhod_enter {
display:block;
width:206px;
height:32px;
line-height:32px;
text-align:center;
font-size:14px;
color:#fff;
text-decoration:none;
background:#2381B7;
margin-top: 11px;
margin-left: 46px;
}

.wrong_lq {
padding-bottom:10px;
text-align:center;
font-family:arial;
font-size:16px;
color:#f00000;

}

.cabinet {
background:#3aa3c5;
float:left;
}


.cabinet a {
line-height:66px;
padding-left:20px;
padding-right:20px;
font-family:arial;
font-size:19px;
color: #FFF;
text-decoration:none;
padding: 15px 10px;
}

.cabinet a:hover {
background:#75CC69;
}






.cabinet::after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


.osnova_obmen {
width:280px;
padding-left:20px;
padding-top:8px;
padding-bottom:10px;
background: #333;
}

.cabinet1 {
width: 250px;
margin: 0 auto;
padding: 0;
}

.cabinet2 {
display: inline;
font-family:arial;
font-size:19px;
color: #FFF;
line-height: 85px;
}

.osnova_obmen a
{
line-height:24px;
font-family:arial;
font-size:15px;
font-weight:bold;
color:#339AD5;
text-decoration:none;
}



#menu {
    margin-top: 1px;
    border-radius: 5px;
   
}

#menu ul {
    list-style: none;
    margin: 0 0 0 0px;
    
}

#menu li {
   
    position: relative;
    display: block;
    margin: 0px;
   
}

#menu li a {
    display: block;
    height: 55px;
    line-height: 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: ;
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 1px solid #fff;
}


.osnova_obmen a:hover {
text-decoration:underline;
}

.osnova_projects {
padding-top:8px;
text-align:center;
background:url('../images/osnova_polosa.html') ;
}

.osnova_projects font {
font-family:arial;
font-size:15px;
color:#333333;
}

.osnova_projects span {
font-family:arial;
font-size:15px;
font-weight:bold;
color:#339AD5;
}

.osnova_projects_bottom {
height:10px;
background:url('../images/osnova_projects_bottom.html') left bottom;
}



.osnova_right {
width:695px;
vertical-align:top;
}




.main .entries { 
padding-top:20px;
line-height:60px; 
border-bottom: 1px solid #e8e8e8;
background:#EFEFEF; 
}


.footer {
line-height:82px;
color:#fff;
background:#545454;
}